// Body
$body-bg: #f8fafc;
$gray-bg: #F3F4F6;
$gray-border: #dcdada;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$st-green: #156F5B;
